@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;   
}

body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(18% at right 70%);
}
body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#3814E3,#FFFFFF);
    clip-path: circle(10% at 10% 30%);
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card{
    position: relative;
    width: 350px;
    height: 700px;
    margin: 30px;
    box-shadow: inset 5px 5px 5px rgba(203, 73, 255, 0.418),
                inset -5px -5px 5px rgba(97, 40, 255, 0.5),
                5px 5px 5px rgba(193, 67, 224, 0.295),
                -5px -5px 5px rgba(96, 39, 253, 0.404);
    border-radius: 15px;
    background: rgba(34, 33, 33, 0.363);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.container .card .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content h2{
    position: absolute;
    top: -60px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.425);
    pointer-events: none;
}
.container .card .content h3{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}
.container .card .content p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;

}

.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.bubbles
{
    position: relative;
    display: flex;
}
.bubbles span
{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 10px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
                0 0 50px #4fc3dc,
                0 0 100px #4fc3dc;
    animation: animate 10s linear infinite;
    animation-duration: calc(185s / var(--i));
}
.bubbles span:nth-child(even)
{
    background: #ff568f;
    box-shadow: 0 0 0 10px #ff2d7544,
                0 0 50px #ff568f,
                0 0 100px #ff568f;
}
@keyframes animate
{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}
::-webkit-scrollbar {
    display: none;
}
@media(max-width:720px){
    .container{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        flex-wrap: wrap;
        z-index: 1;
    }
    
    .container .card{
        position: relative;
        width: 350px;
        height: 700px;
        margin: 30px;
        box-shadow: inset 5px 5px 5px rgba(203, 73, 255, 0.418),
                    inset -5px -5px 5px rgba(97, 40, 255, 0.5),
                    5px 5px 5px rgba(193, 67, 224, 0.295),
                    -5px -5px 5px rgba(96, 39, 253, 0.404);
        border-radius: 15px;
        background: rgba(34, 33, 33, 0.363);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
    }
    
    .container .card .content{
        padding: 20px;
        text-align: center;
        transform: translateY(100px);
        opacity: 0;
        transition: 0.5s;
    }
    
    .container .card:hover .content{
        transform: translateY(0px);
        opacity: 1;
    }
    
    .container .card .content h2{
        position: absolute;
        top: -60px;
        right: 30px;
        font-size: 8em;
        color: rgba(255, 255, 255, 0.425);
        pointer-events: none;
    }
    .container .card .content h3{
        font-size: 1.8em;
        color: #fff;
        z-index: 1;
    }
    .container .card .content p{
        font-size: 1em;
        color: #fff;
        font-weight: 300;
    
    }
    
    .container .card .content a {
        position: relative;
        display: inline-block;
        padding: 8px 20px;
        margin-top: 15px;
        background: #fff;
        color: #000;
        border-radius: 20px;
        text-decoration: none;
        font-weight: 500;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }
    .bubbles
    {
        position: relative;
        display: flex;
    }
    .bubbles span
    {
        position: relative;
        width: 30px;
        height: 30px;
        background: #4fc3dc;
        margin: 0 10px;
        border-radius: 50%;
        box-shadow: 0 0 0 10px #4fc3dc44,
                    0 0 50px #4fc3dc,
                    0 0 100px #4fc3dc;
        animation: animate 10s linear infinite;
        animation-duration: calc(185s / var(--i));
    }
    .bubbles span:nth-child(even)
    {
        background: #ff568f;
        box-shadow: 0 0 0 10px #ff2d7544,
                    0 0 50px #ff568f,
                    0 0 100px #ff568f;
    }
    @keyframes animate
    {
        0%{
            transform: translateY(100vh) scale(0);
        }
        100%{
            transform: translateY(-10vh) scale(1);
        }
    }
    ::-webkit-scrollbar {
        display: none;
    }
}