@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body
{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(75deg,#000000, #d5b59c);
    background-attachment: fixed;
    
}
.container
{
    position: relative;
    width: 1150px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .card
{

    position: relative;
    width: 350px;
    height: 450px;
    background: #d5b59c;
    margin: 30px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: inset 5px 5px 5px rgba(232, 195, 158, 0.418),
                inset -5px -5px 5px rgba(238, 221, 204, 0.5),
                5px 5px 5px rgba(232, 195, 158, 0.295),
                -5px -5px 5px rgba(238, 221, 204, 0.404);
   
    transition: 0.5s;

}
.container:hover .card
{
    filter: blur(20px);
    transform: scale(0.9);
    opacity: 0.5;
}
.container .card:hover
{
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}
.container .card .circle
{

    position: relative;
    width: 100%;
    height: 50%;
    background: #000;
    clip-path: circle(180px at center 0);
    text-align: center;

}
.container .card .circle h2
{
    color: #fff;
    font-size: 4.5em;
    padding: 30px 0;
}
.container .card .content
{
    position: absolute;
    bottom: 10px;
    padding: 10px;
    text-align: center;
}
.container .card .container p
{
    color: #666;
}
.container .card .content a
{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
}

.container .card:nth-child(1) .circle,
.container .card:nth-child(1) .content a
{
    background: #040404;
}
.bubbles
{
    position: relative;
    display: flex;
}
.bubbles span
{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 10px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
                0 0 50px #4fc3dc,
                0 0 100px #4fc3dc;
    animation: animate 10s linear infinite;
    animation-duration: calc(185s / var(--i));
}
.bubbles span:nth-child(even)
{
    background: #ff568f;
    box-shadow: 0 0 0 10px #ff2d7544,
                0 0 50px #ff568f,
                0 0 100px #ff568f;
}
@keyframes animate
{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}
::-webkit-scrollbar {
    display: none;
}